<h1><a href="/">To-Do List</a></h1>

<form class="input-group" action="/add" method="post">
    <input class="form-control" id="content" name="content" type="text" value="">
    <span class="input-group-btn">
         <button class="btn btn-primary" type="submit">Add</button>
    </span>
</form>

<div>
    <h2>To-Do List</h2>
    {% if todos %}
        <table class="table">
            <thead>
            <tr>
                <td>Content</td>
                <td>Time</td>
                <td>Status</td>
                <td>Operation</td>
            </tr>
            </thead>
            <tbody>
            {% for t in todos %}
                {% if t.status == 0 %}
                    <tr class="info">
                        <td>{{ t.content }}</td>
                        <td>{{ t.time.strftime('%H:%M %Y-%m-%d') }}</td>
                        <td>To Do</td>
                        <td>
                            <a href="/do/{{ t.id }}" class="btn btn-primary">Do</a>
                        </td>
                        <td>
                            <a href="/delete/{{ t.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="danger">
                        <td id="center">{{ t.content }}</td>
                        <td>{{ t.time.strftime('%H:%M %Y-%m-%d') }}</td>
                        <td> Done</td>
                        <td>
                            <a href="/undo/{{ t.id }}" class="btn btn-primary">Undo</a>
                        </td>
                        <td>
                            <a href="/delete/{{ t.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>