<h1><a href="/">To-Do List</a></h1>

<form class="input-group" action="/add" method="post">
    <input class="form-control" id="content" name="content" type="text" value="">
    <span class="input-group-btn">
         <button class="btn btn-primary" type="submit">Add</button>
    </span>
</form>

<table class="table">
    <thead>
        <tr>
            <td>Content</td>
            <td>Time</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for t in todos %}
        <tr>
            <td>{{ t.content }}</td>
            <td>{{ t.time }}</td>
            <td>{{ t.status }}</td>
            <td>
                {% if t.status == 0 %}
                <a href="/do/{{ t.id }}" class="btn btn-primary">Do it</a> 
                {% else %}
                <a href="/undo/{{ t.id }}" class="btn btn-primary">Undo it</a> 
                {% endif %}
            </td>
            <td><a href="/delete/{{ t.id }}" class="btn btn-danger">Delete it</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>